<main class="form-signin">
  <form [formGroup]="form" (submit)="submit()">
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input formControlName="email" type="email" class="form-control" placeholder="name@example.com">
      <label>Email address</label>
    </div>

    <div class="form-floating">
      <input formControlName="password" type="password" class="form-control" placeholder="Password">
      <label>Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
  </form>
</main>
